<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/main_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>
<body layout:fragment="content">
    <th:block th:if="${auth != 'ROLE_SELL'}">
        <button class="campbtn">캠핑</button>
        <button class="storebtn">스토어</button>
    </th:block>

    <div class="camp">
            <span>캠핑 리뷰 리스트</span>
            <table class="crlist">
                <thead>
                    <tr>
                        <td class="num" width="50">번호</th>
                        <td class="title" width="300">제목</th>
                        <td class="writer" width="100">작성자</th>
                        <td class="date" width="200">작성일</th>
                        <td class="etc" width="120">비고</th>
                    </tr>
                </thead>
                <th:block th:if="${auth == 'ROLE_USER'}">
                    <tbody id="cr-data">
                        <tr th:each="crlist : ${usercrlist}">
                            <td th:text="${crlist.reviewNo}"></td>
                            <td>
                                <a th:href="|/board/crread?reviewNo=${crlist.reviewNo}|" th:text="${crlist.reviewTitle}"></a>
                            </td>
                            <td th:text="${crlist.userId}"></td>
                            <td>
                                <span th:text="${ #dates.format( crlist.regDate, 'yyyy-MM-dd') }"></span>
                            </td>
                            <td>
                                <a th:href="|/board/crupdate?reviewNo=${crlist.reviewNo}">수정</a>
                                <a th:href="|/board/crdelete?reviewNo=${crlist.reviewNo}" onclick="return confirm('게시글을 삭제하시겠습니까?');">삭제</a>
                            </td>
                        </tr>
                    </tbody>
                </th:block>
                <th:block th:if="${auth == 'ROLE_SELL'}">
                    <tbody id="cr-data">
                        <tr th:each="crlist : ${campreviewlist}">
                            <td th:text="${crlist.reviewNo}"></td>
                            <td>
                                <a th:href="|/board/crread?reviewNo=${crlist.reviewNo}|" th:text="${crlist.reviewTitle}"></a>
                            </td>
                            <td th:text="${crlist.userId}"></td>
                            <td>
                                <span th:text="${ #dates.format( crlist.regDate, 'yyyy-MM-dd') }"></span>
                            </td>
                            <td><a th:href="|/board/crdelete?reviewNo=${crlist.reviewNo}" onclick="return confirm('게시글을 삭제하시겠습니까?');">삭제</a></td>
                        </tr>
                    </tbody>
                </th:block>
                <th:block th:if="${auth == 'ROLE_ADMIN'}">
                    <tbody id="cr-data">
                        <tr th:each="crlist : ${crlist}">
                            <td th:text="${crlist.reviewNo}"></td>
                            <td>
                                <a th:href="|/board/crread?reviewNo=${crlist.reviewNo}|" th:text="${crlist.reviewTitle}"></a>
                            </td>
                            <td th:text="${crlist.userId}"></td>
                            <td>
                                <span th:text="${ #dates.format( crlist.regDate, 'yyyy-MM-dd') }"></span>
                            </td>
                            <td><a th:href="|/board/crdelete?reviewNo=${crlist.reviewNo}" onclick="return confirm('게시글을 삭제하시겠습니까?');">삭제</a></td>
                        </tr>
                    </tbody>
                </th:block>
            </table>
    </div>
    
    <div class="store">
            <span>상품 리뷰 리스트</span>
            <table>
                <thead>

                    <tr>
                        <th width="50">번호</th>
                        <th width="300">제목</th>
                        <th width="100">작성자</th>
                        <th width="200">작성일</th>
                        <td width="120">비고</th>
                    </tr>
                </thead>
                <th:block th:if="${auth == 'ROLE_USER'}">
                    <tbody id="pr-data">
                        <tr th:each="prlist : ${userprlist}">
                            <td th:text="${prlist.prNo}"></td>
                            <td>
                                <a th:href="|/board/prread?prNo=${prlist.prNo}|" th:text="${prlist.prTitle}"></a>
                            </td>
                            <td th:text="${prlist.userId}"></td>
                            <td>
                                <span th:text="${ #dates.format( prlist.regDate, 'yyyy-MM-dd') }"></span>
                            </td>
                            <td>
                                <a th:href="|/board/prupdate?prNo=${prlist.prNo}">수정</a>
                                <a th:href="|/board/prdelete?prNo=${prlist.prNo}" onclick="return confirm('게시글을 삭제하시겠습니까?');">삭제</a>
                            </td>
                        </tr>
                    </tbody>
                </th:block>
                <th:block th:if="${auth == 'ROLE_ADMIN'}">
                    <tbody id="pr-data">
                        <tr th:each="prlist : ${prlist}">
                            <td th:text="${prlist.prNo}"></td>
                            <td>
                                <a th:href="|/board/prread?prNo=${prlist.prNo}|" th:text="${prlist.prTitle}"></a>
                            </td>
                            <td th:text="${prlist.userId}"></td>
                            <td>
                                <span th:text="${ #dates.format( prlist.regDate, 'yyyy-MM-dd') }"></span>
                            </td>
                            <td><a th:href="|/board/prdelete?prNo=${prlist.prNo}" onclick="return confirm('게시글을 삭제하시겠습니까?');">삭제</a></td>
                        </tr>
                    </tbody>
                </th:block>
            </table>
    </div>
    
    <script>
        
        $(document).ready(function(){
            $('.camp').show();
            $('.store').hide();
        })
        $('.campbtn').click(function(){
            $('.camp').show();
            $('.store').hide();            
        })
        $('.storebtn').click(function(){
            $('.camp').hide();
            $('.store').show();            
            
        })
    </script>
</body>
</html>