<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/UI/user/layout/main_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>
    
<body layout:fragment="content">
    <h1>장바구니</h1> 

    <!-- 반복문 시작 --> 
    <div th:each="cart : ${cartList}">

        <!-- 썸네일 -->
        <img th:src="${cart.productThumnail}">
        <br>

        <!-- 카테고리 -->
        <span th:text="|상품 - ${cart.productCategory}|"></span>
        <br>

        <!-- 상품명 -->
        <span th:text="${cart.productName}"></span>
        <br>

        <!-- 상품기본내용 -->
        <span th:text="${cart.productIntro}"></span>
        <br>

        <!-- 금액 -->
        <span th:text="${cart.productPrice + '원'}"></span>
        <br>

        <!-- 상세설명 -->
        <a th:href="${cart.productCon}" th:text="상세설명"></a>
        <br>

        <!-- 장바구니 삭제 -->
        <a th:href="|/product/cartlistDelete?cartlistNo=${cart.cartNo}|" onclick="actionDelete()">삭제</a>
            <br>
            <br>
            <br>
            <br>
    </div>  
    <br>
    <br>
    <div>
        <button>대여하기</button>
    </div>

    <!-- 장바구니 삭제 클릭 이벤트 -->
    <script>
        function actionDelete() 
        {
            let check = confirm('찜 목록에서 삭제하시겠습니까?')
            let form = document.getElementsByName('form')
            if(check) form.submit()
        }
    </script>

    <div>
        <h3>확인사항</h3>
        렌탈 서비스는 캠핑장을 예약하신 회원에 한해 이용 가능한  "캠핑온"만의 특화된 서비스 입니다. 
    </div>
</body>

</html>