<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/store_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>
<body layout:fragment="content">
    <div class="container">
       <h1>대여 신청 완료</h1>

       <hr>

       <h2>결제 확인</h2>
         <!-- 상품 목록 출력-->
     <th:block th:each="product : ${order.productList}">
        <div style="border: 1px solid black;">
            <div>
                <img th:src="|/img?file=${product.productThumnail}|" alt="상품썸네일">
            </div>
            <div>
                <div>
                    <h2>상품이름 : <span th:text="${product.productName}"></span></h2>
                   <p>상품기본내용 : <span th:text="${product.productIntro}"></span></p>
                </div>
                <div>
                    <h2>가격 : <span th:text="${product.productPrice}"></span></h2>
                    <h3>주문갯수: <span th:text="${product.orderCnt}"></span>개</h3>
                </div>
            </div>
        </div>
    </th:block> 

    <hr>
    
    <!--배송받을 캠핑장 정보 완료-->
    <h2>배송받을 캠핑장</h2>
    <ul>
        <li>
            <img th:src="|/img?file=${order.camp.cpdiUrl}|" alt="캠핑상품 이미지" />
        </li>
        <li>
            <ul>
                <li>캠핑장명 : <span th:text="${order.camp.campName}"></span></li>
                <li>캠핑상품명 : <span th:text="${order.camp.cpdtName}"></span></li>
                <li>예약날짜 : <span th:text="|${ #dates.format(order.startDate,'yyyy-MM-dd')} ~ ${ #dates.format(order.endDate, 'yyyy-MM-dd')}|"></span></li>
                <li>예약번호 : <span th:text="${order.reservationNo}"></span></li>
            </ul>
        </li>
    </ul> 

    <hr>

    <th:block th:if="${pmType=='무통장입금'}">
        <!-- * 무통장입금 시 -->
        <h4>아직 입금이 확인되지 않았어요. <span th:text="${ #dates.format(order.depositDeadLine, 'yyyy-MM-dd')}"></span>오후 12시 57분까지 입금을 완료할 경우 예약이 최종 확정됩니다.</h4>
        <hr>
        <!--입금 정보(일단 하드코딩~)-->
        <div>
            <h5>입금 정보</h5>
            <p>입금자명: <span th:text="${userName}"></span></p> 
            <p>은행(예금주): <strong>농협(캠핑온) 3031030200000000</strong></p> 
            <p>총 입금 금액 : <span th:text="${paytotal}"></span></p>
        </div>
    </th:block>
    <th:block th:if="${pmType=='카드'}">
    <!-- * 카드결제 시 -->
        <div>
            <h5>결제 정보</h5>
            <p>주문번호: <span th:text="${order.orderNumber}"></span></p> 
            <p>총 결제 금액 : <span th:text="${paytotal}"></span></p>
        </div>
    </th:block>

       <hr>
       
       <div>
        <p>주문내역 확인은 마이페이지의 "내 예약"에서 하실 수 있습니다.</p>
       </div>

       <!--버튼-->
       <div>
        <a href="/camp/reservation">내 예약으로</a>
        <a href="/">홈으로</a>
       </div>
    </div>
</body>
</html>