<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/user/layout/store_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>
<body layout:fragment="content">
    <!--상단배너광고-->
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/img/product/store_banner.png"></div>
            <div class="swiper-slide"><img src="/img/product/store_banner.png"></div>
            <div class="swiper-slide"><img src="/img/product/store_banner.png"></div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container w-100">
        <!--카테고리-->
        <div class="container-sm w-100 py-4 my-3">
            <div class="d-flex justify-content-between text-center product_menu">
                <div>
                    <a href="/product?category=텐트" data-category="텐트">
                        <div>
                            <img src="/img/product/product1.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>텐트</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=테이블" data-category="테이블"> 
                        <div>
                            <img src="/img/product/product2.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>테이블</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=체어" data-category="체어"> 
                        <div>
                            <img src="/img/product/product3.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>체어</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=매트" data-category="매트"> 
                        <div>
                            <img src="/img/product/product4.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>매트</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=조명" data-category="조명"> 
                        <div>
                            <img src="/img/product/product5.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>조명</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-between text-center product_menu mt-3">
                <div>
                    <a href="/product?category=화로대" data-category="화로대"> 
                        <div>
                            <img src="/img/product/product6.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>화로대</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=타프" data-category="타프"> 
                        <div>
                            <img src="/img/product/product7.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>타프</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=수납" data-category="수납"> 
                        <div>
                            <img src="/img/product/product8.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>수납</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=캠핑가전" data-category="캠핑가전"> 
                        <div>
                            <img src="/img/product/product9.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>캠핑가전</span>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="/product?category=주방용품" data-category="주방용품"> 
                        <div>
                            <img src="/img/product/product10.png" alt="상품아이콘">
                        </div>
                        <div>
                            <span>주방용품</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--추천상품 목록-->
    <div class="w-100 border-bottom">
        <div class="w-100 border-bottom">
            <div class="container">
                <h6>추천 상품</h6>
            </div>
        </div>
        <div class="container d-flex justify-content-between py-4">
            <th:block th:each="product : ${productHotList}">
                <!--만약 이상하면 a 태그에 class속성 추가하기 class="d-flex justify-content-between" -->
                <a th:href="|/product/productdetail?productNo=${product.productNo}|">
                    <div class="product_suggestion">
                        <div class="product_suggestionImg border-bottom">
                            <img th:src="|/img?file=${product.productThumnail}|">
                        </div>
                        <div class="product_suggestionCon px-3">
                            <div><span th:text="${product.productName}"></span></div>
                            <div><span th:text="${product.productCategory}"></span></div>
                            <div><span th:text="${product.productPrice}"></span></div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>
    </div>
        <!--캠프온 이용안내-->
        <div class="w-100 info_btn">
            <a href="/camp/information" class="btn btn-outline-warning btn-lg w-100 py-3">캠프온<span class="text-dark">이 처음이신가요? 캠프온 이용안내</span></a>
        </div>  
        <!--중단 광고-->
        <div class="container py-4 border-bottom ">
            <div class="row middle_ads">
                <div class="col-4 py-2 px-2 mx-2 my-2">1</div>
                <div class="col-4 py-2 px-2 mx-2 my-2">2</div>
                <div class="col-4 py-2 px-2 mx-2 my-2">3</div>
                <div class="col-4 py-2 px-2 mx-2 my-2">3</div>
                <div class="col-4 py-2 px-2 mx-2 my-2">3</div>
                <div class="col-4 py-2 px-2 mx-2 my-2">3</div>
            </div>
        </div>
        <!--하단 광고-->
        <div class="container py-3">
            <div class="border py-3 rounded my-2">
                <a href="javascript:;">
                    <div class="d-flex justify-content-between ads_box">
                        <div class="ads_boxImg py-1 px-1">
                            <img src="" alt="광고이미지">
                        </div>
                        <div class="ads_boxCon">
                            <div><span class="font08em">빈슨메시프</span></div>
                            <div><span>베이직 로우체어 1+1</span></div>
                        </div>
                        <div class="ads_boxPrice">
                            <div><span class="text-decoration-line-through font08em">210,000원</span></div>
                            <div><span class="font08em fontbold">105,000원</span></div>
                        </div>
                        <div class="ads_boxArrow">
                            <div class="pt-2 pe-2"><span class="material-symbols-outlined">chevron_right</span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="border py-3 rounded my-2">
                <a href="javascript:;">
                    <div class="d-flex justify-content-between ads_box">
                        <div class="ads_boxImg py-1 px-1">
                            <img src="" alt="광고이미지">
                        </div>
                        <div class="ads_boxCon">
                            <div><span class="font08em">빈슨메시프</span></div>
                            <div><span>베이직 로우체어 1+1</span></div>
                        </div>
                        <div class="ads_boxPrice">
                            <div><span class="text-decoration-line-through font08em">210,000원</span></div>
                            <div><span class="font08em fontbold">105,000원</span></div>
                        </div>
                        <div class="ads_boxArrow">
                            <div class="pt-2 pe-2"><span class="material-symbols-outlined">chevron_right</span></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="border py-3 rounded my-2">
                <a href="javascript:;">
                    <div class="d-flex justify-content-between ads_box">
                        <div class="ads_boxImg py-1 px-1">
                            <img src="" alt="광고이미지">
                        </div>
                        <div class="ads_boxCon">
                            <div><span class="font08em">빈슨메시프</span></div>
                            <div><span>베이직 로우체어 1+1</span></div>
                        </div>
                        <div class="ads_boxPrice">
                            <div><span class="text-decoration-line-through font08em">210,000원</span></div>
                            <div><span class="font08em fontbold">105,000원</span></div>
                        </div>
                        <div class="ads_boxArrow">
                            <div class="pt-2 pe-2"><span class="material-symbols-outlined">chevron_right</span></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- 상품 후기-->
        <div class="review mb-5 container">
            <div>
                <h5 class="my-4">상품 후기</h5>
            </div>
            <th:block th:each="review : ${proReviewList}">
                <div class="border mb-3">
                    <a th:href="|/product/productdetail?productNo=${review.productNo}|" class="d-flex justify-content-between">
                        <div class="review_imgbox my-2 mx-2 px-2 py-2">
                            <img th:src="|/img?file=${review.prImg}|">
                        </div>
                        <div class="review_conbox">
                            <div class="pt-4">
                                <div>
                                    <p th:text="${review.prTitle}"></p>
                                </div>
                                <div>
                                    <p th:text="${review.prCon}"></p>
                                </div>
                                <div>
                                    <span th:text="${review.productName}"></span>
                                </div>
                                <div>
                                    <span th:text="${ #dates.format( review.regDate, 'yyyy-MM-dd') }"></span>
                                </div>
                                <!--글쓴이 프로필사진 넣을거면 넣어야 함-->
                                <div>
                                    <p th:text="${review.userId}"></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        spaceBetween: 0,
        centeredSlides: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });

    </script>
</body>
</html>