<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/UI/user/layout/main_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>

<body layout:fragment="content">
    <h1>주문 상품</h1>

    <form action="경로지정" method="post" id="form">
        <!-- 반복문 시작 -->
        <div th:each="cart : ${cartList}">
            <!-- 썸네일 -->
            <img th:src="${cart.productThumnail}"> <br>
            <!-- 상품명 -->
            <span th:text="${cart.productName}"></span> <br>
            <!-- 상품기본내용 -->
            <span th:text="${cart.productIntro}"></span> <br>
            <!-- 금액 -->
            <span th:text="|${cart.productPrice} / 1일|"></span> <br>
            <!-- 상품수량 및 증감 -->
            <div>
                <button class="decrease" type="button">-</button>
                <span class="quantity" th:text="${cart.cartCnt}"></span>
                <button class="increase" type="button">+</button>
            </div><br><br><br>

        </div>

        <!-- 배송지 선택 -->
        <div>
            <h5>배송받을 캠핑장을 선택해주세요 </h5>
            <div th:each="reservation : ${reservationList}">
                <input type="radio" name="selectedReservation" th:value="${reservation.reservationNo}">
                <label><span></span></label>
                <img th:src="${reservation.cpiUrl}" alt=""><br>
                <span th:text="${reservation.campName}"></span><br>
                <span th:text="${reservation.cpdtName}"></span><br>
                <span th:text="|캠핑날짜 ${reservation.reservationStart} ~ ${reservation.reservationEnd}|"></span><br>
                <span th:text="|예약번호 ${reservation.reservationNo}|"></span><br><br><br>
            </div>

            <!-- 결제방법 선택 -->
            <input type="radio" name="paymentMethod" value="무통장">
            <label><span></span>무통장</label>
            <input type="radio" name="paymentMethod" value="카드">
            <label><span></span>카드</label><br>
            <input type="submit" value="결제하기">
    </form>

    <script>
        // "-" 버튼 클릭 시 수량 감소
        document.querySelectorAll(".decrease").forEach(function (button) {
            button.addEventListener("click", function () {
                var quantityElement = button.nextElementSibling;
                var quantity = parseInt(quantityElement.textContent);
                if (quantity > 1) {
                    quantity--;
                    quantityElement.textContent = quantity;
                }
            });
        });
        // "+" 버튼 클릭 시 수량 증가
        document.querySelectorAll(".increase").forEach(function (button) {
            button.addEventListener("click", function () {
                var quantityElement = button.previousElementSibling;
                var quantity = parseInt(quantityElement.textContent);
                quantity++;
                quantityElement.textContent = quantity;
            });
        });
    </script>

</body>

</html>