<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/UI/user/layout/store_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>
    
<body layout:fragment="content">
    <div class="w-100 text-center py-4">
        <h5>찜 목록</h5> 
    </div>
    <div class="wishlistTotal position-fixed text-center">
        <a class="d-block w-100 btn btn-lg btn-warning rounded-0" href="/product/addcartAll">
                <span>전체 장바구니에 담기</span>
        </a>
    </div>
    <div class="container">
        <!-- 반복문 시작 -->
        <th:block th:each="product : ${wishlist}">
            <div class="border position-relative wishlist w-100 rounded mb-3">
                <div>
                    <div class="wishlistImg border-bottom">
                        <!-- 썸네일 -->
                        <img th:src="|/img?file=${product.productThumnail}|" class="w-100">
                    </div>
                    <div class="w-100 d-flex justify-content-between">
                        <div class="wishlistCon ps-2 pt-2">
                            <div>
                                <!-- 카테고리 -->
                                <span th:text="${product.productCategory}"></span>
                            </div>
                            <div>
                                <!-- 상품명 -->
                                <h5 th:text="${product.productName}"></h5>
                            </div>
                            <div class="pt-2 mb-2">
                                <!-- 상품기본내용 -->
                                <span th:text="${product.productIntro}"></span>
                            </div>
                        </div>
                        <div class="pt-4 pe-3">
                            <!-- 금액 -->
                            <span th:text="${product.productPrice + '원'}"></span>
                        </div>
                    </div>
                </div>
                <div class="position-absolute d-flex bottom-0 end-0 wishlistBtn pb-1 pe-2">
                    <div>
                        <!-- 상세설명 -->
                        <a class="btn btn-outline-warning font08em"  th:href="|/product/productdetail?productNo=${product.productNo}|">상세정보</a>
                    </div>
                    <div class="ps-2">
                        <!-- 장바구니 담기(성공) -->
                        <a class="btn btn-outline-success font08em" th:href="|/product/addcart?productNo=${product.productNo}&userNo=${#authentication.principal.users.userNo}|">장바구니 담기</a>
                    </div>
                    <div class="ps-2">
                        <!-- 찜 삭제 (성공) -->
                        <form action="/product/wishlistDelete" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" th:value="${product.productsaveNo}" name="productsaveNo">
                            <button type="submit" class="btn btn-outline-danger font08em" onclick="confirm('찜 목록에서 삭제하시겠습니까?')">삭제</button>
                        </form>
                    </div>
                </div>
                <br>
            </div>
        </th:block>
    </div>

</body>

</html>