<!-- user - header -->
<!-- ~UI/user/fragment/header -->
<th:block th:fragment="header">
    <header class="campproduct_header">
        <nav>
            <ul class="main_header">
                <li><a href="/camp/schedule"><i class="material-symbols-outlined">schedule</i></a></li>
                <li><a href="/"><img src="/img/header_logo.png" alt="로고"></a> </li>
                <li><a href="/camp/campproducts?keyword=&searchDate=&regionNo=0&campTypeNos=" class="serch_btn"><i class="material-symbols-outlined">search</i></a></li>
            </ul>
        </nav>
    </header>
</th:block>