<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
    layout:decorate="~{/UI/admin/layout/seller_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>광고등록</title>
</head>

<body layout:fragment="content">

    <div>
        <h5>광고정보를 입력해주세요</h5>
    </div>

    <form action="/admin/adinsertpro" method="post" enctype="multipart/form-data">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="hidden" name="campNo" th:value="${campNo}">

        <!-- 광고이미지 업로드 -->
        <div class="input-group mb-3 row border-bottom" style="margin-top: 40px;">
            <label class="col-md-4 col-form-label" for="">광고이미지</label>
            <input type="file" class="form-control" name="adImgFile" id="adImgFile" onchange="campImg(event)">
            <p>파일형식 .PNG, .JPG / 가로세로 비율 1000*1500px / 용량 20MB</p>
        </div>

        <!-- 업로드 이미지 미리보기 -->
        <div>
            <img id="preview">
        </div>

        <!-- 광고위치 -->
        <!-- 컬럼추가, 캠프장 상단, 중단, 숍 상단,중단 -->
        <!-- <div>
            광고위치
            <select id="position" name="position">
                <option value="mid">상단</option>
                <option value="row">중단</option>
            </select>
        </div> -->

        <!-- 광고 요청 일자 -->
        <div class="form-floating">
            <input type="date" class="form-control" id="adStart" name="adStart">
            <label for="campOpen">시작일자</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="adEnd" name="adEnd">
            <label for="campClose">종료일자</label>
        </div>
        <div>
            <input type="submit" value="광고등록 요청" class="btn btn-warning btn-lg w-100 my-3 py-3">
        </div>
    </form>

    <script>
        // 미리보기 이벤트 호출
        function campImg(event) {
            // FileReader 객체 생성
            var reader = new FileReader();
            // FileReader이 onload(실행완료)된 후 실행될 함수 선언
            reader.onload = function () {
                // preview태크를 output으로 선언
                var output = document.getElementById('preview');
                // FileReader의 result값을 output에 저장
                output.src = reader.result;
            };
            // 업로드한 파일을 문자열로 인코딩 후 result로 저장
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
</body>

</html>