<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/admin/layout/seller_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>
<body layout:fragment="content">
    <div class="container-sm">
        <div class="w-100 text-center my-3">
            <h5>캠핑장 수정</h5>
        </div>
        <form th:action="|/admin/campproductupdatePro?${_csrf.parameterName}=${_csrf.token}|" method="post" enctype="multipart/form-data">
            <!-- 🎈 multipart/form-data 인 경우 csrf 토큰을 쿼리스트링으로 담아야한다.  -->
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
            <input type="hidden" name="campNo" id="campNo" th:value="${camp.campNo}">
            <div class="form-floating my-2">
                <input type="text" id="campName" name="campName" class="form-control" th:value="${camp.campName}">
                <label for="campName">캠핑장명</label>
            </div>
            <div class="form-floating">
                <input type="file" id="file" name="file" class="form-control" multiple>
                <label for="file">캠핑장이미지</label>
            </div>
            <div class="campadd_box d-flex justify-content-around w-100 my-1">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="form-floating my-2">
                <input type="text" id="campAddress" name="campAddress" class="form-control" th:value="${camp.campAddress}">
                <label for="campAddress">캠핑장주소</label>
            </div>
            <div class="form-floating">
                <input type="text" id="placeName" name="placeName" class="form-control" th:value="${camp.campName}">
                <label for="placeName">장소명을 입력해 주세요</label>
            </div>
            <div class="form-floating my-2 d-flex">
                <input type="text" name="campLocation" id="campLocation" class="form-control">
                <label for="campLocation">지도검색을 위한 주소를 입력해주세요</label>
                <button type="button" onclick="search()">검색</button>
            </div>
            <input type="hidden" id="campLatitude" name="campLatitude" placeholder="위도(latitude)" th:value="${camp.campLatitude}">
            <input type="hidden" id="campLongitude" name="campLongitude" placeholder="경도(longitude)" th:value="${camp.campLongitude}">
            <div id="map" style="width:100%;height:600px;">
                <!-- api 지도 출력 부분 -->
            </div>
            <div class="form-floating my-2">
                <input type="text" id="campTel" name="campTel" class="form-control" th:value="${camp.campTel}">
                <label for="campTel">캠핑장 연락처</label>
            </div>
            <div class="form-floating my-2">
                <input type="file" id="layoutFile" name="layoutFile" class="form-control" th:value="${camp.campLayout}">
                <label for="layoutFile">캠핑장 배치도</label>
            </div>
            <div class="form-floating my-2">
                <input type="text" id="campCaution" name="campCaution" class="form-control" th:value="${camp.campCaution}">
                <label for="campCaution">매너타임</label>
            </div>
            <div class="w-100 my-2 d-flex justify-content-between">
                <div>
                    <span>지역</span>
                </div>
                <div>
                    <input type="radio" id="seoul" name="regionNo" value="1" th:attr="checked=${camp.regionNo == 1 ? 'ture' : 'false'}">
                    <label for="seoul"><span></span>서울</label>
                    <input type="radio" id="inchon" name="regionNo" value="2" th:attr="checked=${camp.regionNo == 2 ? 'ture' : 'false'}">
                    <label for="inchon"><span></span>인천</label>
                    <input type="radio" id="gyunggi" name="regionNo" value="3" th:attr="checked=${camp.regionNo == 3 ? 'ture' : 'false'}">
                    <label for="gyunggi"><span></span>경기도</label>
                    <input type="radio" id="gangwon" name="regionNo" value="4" th:attr="checked=${camp.regionNo == 4 ? 'ture' : 'false'}">
                    <label for="gangwon"><span></span>강원도</label>
                    <input type="radio" id="junra" name="regionNo" value="5" th:attr="checked=${camp.regionNo == 5 ? 'ture' : 'false'}">
                    <label for="junra"><span></span>전라도</label>
                    <input type="radio" id="choung" name="regionNo" value="6" th:attr="checked=${camp.regionNo == 6 ? 'ture' : 'false'}">
                    <label for="choung"><span></span>충청도</label>
                    <input type="radio" id="gyung" name="regionNo" value="7" th:attr="checked=${camp.regionNo == 7 ? 'ture' : 'false'}">
                    <label for="gyung"><span></span>경상도</label>
                    <input type="radio" id="jeju" name="regionNo" value="8" th:attr="checked=${camp.regionNo == 8 ? 'ture' : 'false'}">
                    <label for="jeju"><span></span>제주도</label>
                </div>
            </div>
            <div class="w-100 my-2">
                <span>환경</span>
                <input type="radio" id="mountain" name="environmentTypeNo" value="1" th:attr="checked=${camp.environmentTypeNo == 1 ? 'ture' : 'false'}">
                <label for="mountain"><span></span>산</label>
                <input type="radio" id="ocean" name="environmentTypeNo" value="2" th:attr="checked=${camp.environmentTypeNo == 2 ? 'ture' : 'false'}">
                <label for="ocean"><span></span>바다</label>
                <input type="radio" id="Valley" name="environmentTypeNo" value="3" th:attr="checked=${camp.environmentTypeNo == 3 ? 'ture' : 'false'}">
                <label for="Valley"><span></span>계곡/강/호수</label>
                <input type="radio" id="champaign" name="environmentTypeNo" value="4" th:attr="checked=${camp.environmentTypeNo == 4 ? 'ture' : 'false'}">
                <label for="champaign"><span></span>평야</label>
                <input type="radio" id="downtown" name="environmentTypeNo" value="5" th:attr="checked=${camp.environmentTypeNo == 5 ? 'ture' : 'false'}">
                <label for="downtown"><span></span>도심</label>
            </div>
            <div class="w-100 my-2">
                <label for="facillity">기본시설</label>
                <input type="checkbox" id="1" name="facilityTypeNo" value="1">
                <label for="1"><span></span>화장실</label>
                <input type="checkbox" id="2" name="facilityTypeNo" value="2">
                <label for="2"><span></span>샤워실</label>
                <input type="checkbox" id="3" name="facilityTypeNo" value="3">
                <label for="3"><span></span>개수대</label>
                <input type="checkbox" id="4" name="facilityTypeNo" value="4">
                <label for="4"><span></span>매정</label>
                <input type="checkbox" id="5" name="facilityTypeNo" value="5">
                <label for="5"><span></span>바베큐장</label>
                <input type="checkbox" id="6" name="facilityTypeNo" value="6">
                <label for="6"><span></span>전기차충전소</label>
                <input type="checkbox" id="7" name="facilityTypeNo" value="7">
                <label for="7"><span></span>주차장</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" id="campOpen" name="campOpen" th:value="${camp.campOpen}">
                <label for="campOpen">오픈날짜</label>
            </div>
            <div class="form-floating">
                <input type="date" class="form-control" id="campClose" name="campClose" th:value="${camp.campClose}">
                <label for="campClose">클로즈날짜</label>
            </div>
            <div class="form-floating">
                <textarea name="campIntroduction" id="campIntroduction" class="form-control" th:text="${camp.campIntroduction}">

                </textarea>
                <label for="campIntroduction">캠핑장 소개</label>
            </div>
            <div>
                <input type="submit" value="캠핑장수정" class="btn btn-warning btn-lg w-100 my-3 py-3">
            </div>
        </form>
    </div>

    <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=66c31d7d2fe00c73f61774f2c881769e&​libraries=services"></script> -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4d9c4ccd55af22e749af292453ba1fa9&libraries=services"></script>
    <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    function search() {
        var placeName = document.getElementById('placeName').value
        var address = document.getElementById('campLocation').value

        if( placeName == '' )
            alert('장소명을 입력해주세요')
        if( address == '' )
            alert('주소를 입력해주세요')
        
        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao.maps.services.Geocoder();

        // 주소로 좌표를 검색합니다
        geocoder.addressSearch(address, function(result, status) {

            // 정상적으로 검색이 완료됐으면 
            if (status === kakao.maps.services.Status.OK) {
                let campLatitude = result[0].y
                let campLongitude = result[0].x

                console.log('위도(latitude) : ' + result[0].y);
                console.log('경도(longitude) : ' + result[0].x);
                
                document.getElementById('campLatitude').value = campLatitude
                document.getElementById('campLongitude').value = campLongitude

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                // 인포윈도우로 장소에 대한 설명을 표시합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: `<div style="width:150px;text-align:center;padding:6px 0;">${placeName}</div>`
                });
                infowindow.open(map, marker);

                // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                map.setCenter(coords);
            } 
        });    

    }

    </script>
    <script th:inline="javascript">
        let facilityTypelist = [[${campfacility}]];
        
        for (let i = 0; i < facilityTypelist.length; i++) {
            let no = facilityTypelist[i].facilitytypeNo
            
            $('input:checkbox[name="facilityTypeNo"]').each(function() {
                if(this.value == no){
                    this.checked = true;
                }            
            });
        }
    </script>
</body>
</html>