<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/UI/admin/layout/admin_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampOn(캠프온)</title>
</head>
<body layout:fragment="content">
    <div class="container">
        <div class="w-100 text-center py-3">
            <h5>렌탈샵 상품 관리</h5>
        </div>
        
        <!--상품 등록 버튼-->
        <div class="text-end">
            <a href="/admin/productadd" value="상품 등록" class="btn btn-warning py-2 px-3 ">렌탈샵 상품 등록</a>
        </div>
        <!-- 상품 목록 출력-->
        <th:block th:each="product : ${productList}">
            <div class="container w-100">
                <div class="border rounded my-2 position-relative AdminProduct">
                    <div class="AdminProductImg w-100 border-bottom">
                        <img th:src="|/img?file=${product.productThumnail}|" alt="상품썸네일" class="w-100">
                    </div>
                    <div class="w-100 d-flex justify-content-between pb-5 pt-2">
                        <div class="ps-3">
                            <div>
                                <span th:text="${product.productCategory}"></span>
                            </div>
                            <div>
                                <h4 th:text="${product.productName}"></h4>
                            </div>
                            <div>
                                <span th:text="${product.productIntro}"></span>
                            </div>
                        </div>
                        <div>
                            <div>
                                <span th:text="${#dates.format(product.regDate, 'yyyy-MM-dd')}"></span>
                            </div>
                            <div>
                                <span th:text="${#dates.format(product.updDate, 'yyyy-MM-dd')}"></span>
                            </div>
                            <div class="py-2 me-2">
                                <h5 th:text="|${product.productPrice}원|"></h5>
                            </div>
                            <div class="position-absolute bottom-0 end-0 py-1 px-1">
                                <a th:href="|/admin/productupdate?productNo=${product.productNo}|" class="btn btn-warning">상품 수정</a>
                                <a th:href="|/admin/delete?productNo=${product.productNo}|" class="btn btn-danger">상품 삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>


</body>
</html>