<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.camp.campon.mapper.CampMapper">

    <!-- 캠프 목록 -->
    <select id="list" resultType="Camp">
        SELECT * 
        FROM campproduct c
        LEFT JOIN campdetatil cd ON c.camp_no = cd.camp_no
        ORDER BY camp_no DESC 
    </select>
    <!-- 캠프 최신목록 -->
    <select id="newList" resultType="Camp">
        SELECT * FROM campproduct ORDER BY reg_date DESC LIMIT 6
    </select>
    <!-- 캠핑장 등록 -->
    <insert id="insertCamp">
        
    </insert>
    <!-- 캠프상품 등록 -->

    <!-- 캠핑장 수정 -->

    <!-- 캠프상품 수정 -->

    <!-- 캠핑장 삭제 -->

    <!-- 캠프상품 삭제-->


    <!-- 찜 상품 목록 -->
    <select id="favoritesList" resultType="Camp">
        SELECT * FROM favorites f join campproduct c on f.camp_no = c.camp_no
    </select>

</mapper>