<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" -->
<mapper namespace="com.camp.campon.mapper.OrderMapper">


<!-- 주문번호에 따른 주문정보와 상품목록, 캠핑장 가져오기-->
<resultMap type="Order" id="orderMap">
    <!-- <id property="orderNo" column="order_no" />
    <result property="orderNo" column="order_no" /> -->
    <!-- <result property="orderCnt" column="order_cnt" /> -->
    <id property="orderNumber" column="order_number" />
    <result property="startDate" column="start_date" />
    <result property="endDate" column="end_date" />
    <result property="orderNumber" column="order_number" />
    <!-- <result property="productNo" column="product_no" /> -->
    <result property="userNo" column="user_no" />
    <result property="reservationNo" column="reservation_no" />
    <result property="orderDate" column="order_date" />
    <!-- <result property="cpDtNo" column="cp_dt_no" /> -->
    <collection property="productList" resultMap="productMap"></collection>
    <collection property="camp" resultMap="campMap"></collection>
</resultMap>
<resultMap type="Product" id="productMap">
    <id property="productNo" column="product_no" />
    <result property="productNo" column="product_no" />
    <result property="productName" column="product_name" />
    <result property="productThumnail" column="product_thumnail" />
    <result property="productIntro" column="product_intro" />
    <result property="productCategory" column="product_category" />
    <result property="productPrice" column="product_price" />
    <result property="orderCnt" column="order_cnt" />
</resultMap>
<resultMap type="Camp" id="campMap">
    <id property="campNo" column="camp_no" />
    <result property="campNo" column="camp_no" />
    <result property="campName" column="camp_name" />
    <result property="campAddress" column="camp_address" />
    <result property="campTel" column="camp_tel" />
    <result property="cpdtPrice" column="cp_dt_price" />
    <result property="cpdiUrl" column="cpdi_url" />
    <result property="cpdtNo" column="cp_dt_no" />
    <result property="cpdtName" column="cp_dt_name" />
</resultMap>
<select id="selectOrder" resultMap="orderMap">
    SELECT o.*, p.*, c.*, d.*, cdi.cpdi_url
    FROM `order` o  JOIN product p ON o.product_no = p.product_no
    JOIN campproduct c ON c.camp_no = o.camp_no
    JOIN campdetail d ON d.cp_dt_no = o.cp_dt_no
    JOIN campdetailimg cdi ON d.cp_dt_no = cdi.cp_dt_no
    JOIN (SELECT min(cpdi_no) no FROM campdetailimg GROUP BY cp_dt_no) imgno ON cdi.cpdi_no = imgno.no
    WHERE o.order_number = #{orderNumber}
</select>

<select id="paymentsByOrNo" resultType="Order">
SELECT * FROM payments WHERE order_number = #{orderNumber}
</select>

<!--결제하기 버튼 클릭 시-->
<insert id="addOrder">
INSERT INTO `order` 
(order_cnt, product_no, user_no, reservation_no, start_date, end_date, cp_dt_no, camp_no, order_number) 
(SELECT c.cart_cnt, c.product_no, c.user_no, r.reservation_no, 
r.reservation_start, r.reservation_end,  r.cp_dt_no, r.camp_no, #{orderNumber}
FROM cart c JOIN (SELECT * FROM reservation WHERE reservation_no = #{reservationNo}) r
WHERE c.user_no = #{userNo})
</insert>

<!--결제 합계금액-->
<select id="payAmount" resultType="Long">
SELECT sum(p.product_price * o.order_cnt * r.reservation_date) FROM `order` o JOIN product p ON p.product_no = o.product_no
JOIN reservation r ON o.reservation_no = r.reservation_no
WHERE o.user_no = #{userNo} AND o.order_number = #{orderNumber}
</select>
<insert id="addPayments">
INSERT INTO payments (order_number, pm_type, pm_price) VALUES (#{orderNumber}, #{pmType}, #{pmPrice})
</insert>

<!--배송정보 입력-->
<insert id="addDelivery">
INSERT INTO delivery (order_no) (SELECT order_no FROM `order` WHERE order_number = #{orderNumber})
</insert>

<!--이용자에게 대여내역 문자보내기-->
<select id="toUserMsg" resultType="Order">
SELECT p.*, o.*, d.cp_dt_name FROM `order` o JOIN product p ON p.product_no = o.product_no
JOIN campdetail d ON d.cp_dt_no = o.cp_dt_no
WHERE o.order_number = #{orderNumber}
</select>

<!--찜과 장바구니에 있는 거 삭제 by userNo-->
<delete id="saveCartDel">
DELETE ps, c FROM productsave ps INNER JOIN cart c WHERE ps.user_no = c.user_no
AND ps.user_no = #{userNo}
</delete>

</mapper>