header {width: 100%; background-color: white;}
.campproduct_header {width: 500px; background-color: rgba(255, 255, 255, 0); position: fixed; z-index: 5;}
.main_header {display: flex; justify-content: space-between; padding: 0 1rem;}
.main_header i {padding-top: 35px;}
.main_header img {padding-top: 20px;}
header>nav {border-bottom: 1px solid black;}
.campproduct_header>nav {border: none;}
.serch_btn {border: none; background-color: none;}
.menu {width: 500px; position: fixed; bottom: 0; background-color: white; border-top: 0.5px solid black;}
.main_menu {display: flex; justify-content: space-around; padding-left: 0!important; padding-top: 10px;}
.main_menu>li {width: 100px;}
.sub_menu {text-align: center; padding-left: 0!important;}
.sub_menu>li:nth-of-type(2) {font-size: 0.8em;}
.sns_box {width: 100%; height: 60px;}
.sns {display: flex; justify-content: space-around; width: 60%; margin: 0 auto; height: 60px; line-height: 60px; padding-left: 0!important;}
.info_box {width: 100%; height: 130px;}
.info {width: 80%; display: flex; justify-content: space-around; margin: 0 auto; padding-left: 0!important; padding-top: 30px;}
.info li>p {margin-bottom: 0!important; font-size: 0.8em;}
.info .info_button {width: 125px;}
.customer_box {width: 100%; height: 60px; background-color: white; border-radius: 10px; box-shadow: 1px 1px 1px 1px black; cursor: pointer;}
.customer {display: flex; justify-content: space-around; padding-left: 0!important;}
.customer>li {padding-top: 10px;}
footer{ width: 100%; height: 550px; background-color: rgba(243, 243, 243, 0.9);}
.footer_logo {width: 100%; height: 100px; line-height: 130px; text-align: center;}
.footer_company_box {width: 100%; height: 50px;}
.footer_company {width: 70%; height: 50px; line-height: 50px; display: flex; justify-content: space-around; text-align: center; margin: 0 auto; padding-left: 0!important; font-size: 0.8em; font-weight: bold;}
.footer_con {font-size: 0.7em; width: 100%; text-align: center; height: 60px;}
.footer_con>p {padding-top: 20px;}
.footer_copy {width: 100%; height: 60px; text-align: center; line-height: 60px; font-weight: bold;}


/************************************ 유저 CSS ***********************************/
/* 로그인페이지 */
.login_banner {position: relative; width: 100%; height: 200px;}
.login_banner_back {position: absolute; background-image: url("../img/user/login_banner.jpg"); background-position: 0 -30px; background-size: 100%; z-index: 0; width: 100%; object-fit: cover; height: 200px;}
.login_banner_txt {position: absolute; z-index: 1; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.login_banner_txt h4 {color: white; font-size: 1.2em; font-weight: bold;}

/* 회원가입페이지 */
#id {padding-top : 2rem!important; padding-bottom: 2rem!important;}
#name {padding-top : 2rem!important; padding-bottom: 2rem!important;}
#userEmail {padding-top : 2rem!important; padding-bottom: 2rem!important;}
#userTel {padding-top : 2rem!important; padding-bottom: 2rem!important;}
#userAddress {padding-top : 2rem!important; padding-bottom: 2rem!important;}
#password {padding-top : 2rem!important; padding-bottom: 2rem!important;}
#passwordCheck {padding-top : 2rem!important; padding-bottom: 2rem!important;}
.company_join_info {font-size: 0.8em;}

/* 마이페이지 공통*/
.mypage_banner {position: relative; width: 100%; height: 200px;}
.mypage_banner_header {position: absolute; z-index: 1; color: white; padding-left: 20px; padding-top: 20px;}
.mypage_banner_header>h4 {font-size: 1.2em;}
.mypage_banner_back {position: absolute; background-image: url("../img/user/login_banner.jpg");  background-position: 0 -30px; background-size: 100%; z-index: 0; width: 100%; object-fit: cover; height: 200px;}
.mypage_banner_con {position: absolute; z-index: 1; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.mypage_banner_con img {width: 50%;}
.mypage_banner_con>ul>li:nth-of-type(1) {padding-top: 20px;}
.mypage_banner_con>ul>li:nth-of-type(2) {padding-top: 10px;}
.mypage_banner_con h4 {font-size: 1em; color: white; font-weight: bold;}
.mypage_logout_btn {background-color: #FA9D4B; border-radius: 0!important;}

/* 마이페이지 회원 */
.mypage_user li {width: 120px; height: 60px; line-height: 60px; background-color: #FFC700; font-size: 0.8em;}
.mypage_user>ul {padding-left: 0!important;}
.mypage_user>ul:nth-of-type(1)>li {margin-top: 20px;}
.mypage_user>ul:nth-of-type(2)>li {margin-bottom: 30px;}
.mypage_user a {display: block;}

/* 마이페이지 판매자 */
.mypage_sell li {width: 100px; height: 60px; line-height: 60px; background-color: #FFC700; font-size: 0.8em; margin-top: 20px; margin-bottom: 30px;}
.mypage_sell>ul {padding-left: 0!important;}
.mypage_sell a {display: block;}

/* 마이페이지 관리 */
.mypage_admin li {width: 100px; height: 60px; line-height: 60px; background-color: #FFC700; font-size: 0.8em; margin-top: 20px; margin-bottom: 30px;}
.mypage_admin>ul {padding-left: 0!important;}
.mypage_admin>ul:nth-of-type(1)>li {margin-top: 20px;}
.mypage_admin>ul:nth-of-type(2)>li {margin-bottom: 30px;}
.mypage_admin a {display: block;}

/* 캠프 */
/* 캠프메인 슬라이드 */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mySwiper {position: relative; width: 100%; height: 300px;}
.swiper-slide {position: absolute;}
.swiper-slide:nth-of-type(0) {left: 0;}
.swiper-slide:nth-of-type(1) {left: 500px;}
.swiper-slide:nth-of-type(2) {left: 1000px;}

/* 캠프메뉴 */
.search_box {border: 1px solid #f2f2f2; width: 100%; height: 300px;}
.search_box ul {padding-left: 0!important;}
.region_select, .theme_select {height: 60px; line-height: 60px; border: 1px solid #d4d4d4;}
.camping_type {padding-left: 0!important; text-align: center;}
.camping_type ul {padding-left: 0!important;}
.camping_type span {font-size: 0.8em;}

/* 검색 */
.region_box {height: 300px; width: 500px; background-color: #aaa; position: fixed; bottom: 75px;}
.search_btn {border-radius: 0!important;}

/* 광고 */
.camp_ads {width: 100%;}
.camp_ads ul {padding-left: 0!important;}
.camp_ads ul>li {border-radius: 10px; overflow: hidden;}

/* 안내 */
.info_btn>a {font-size: 0.8em; border-radius: 0!important;}

/* 신규 / 추천 캠핑장 */
.new_camp {border-top: 1px solid #f2f2f2;}
.best_camp {border-top: 1px solid #f2f2f2;}
.new_camp img {width: 150px; height: 150px;}
.best_camp img {width: 150px; height: 150px;}

/* 리뷰 */
.review {border-top: 1px solid #f2f2f2;}
.review img {width: 120px; height: 120px; object-fit: cover;}
.review_imgbox {width: 30%; border-radius: 10px; overflow: hidden;}
.review_conbox {width: 70%;}
.review_conbox p {margin-bottom: 0!important;}
.review_conbox>div>div:nth-of-type(1){font-size: 0.9em;}
.review_conbox>div>div:nth-of-type(2){font-size: 0.8em;}
.review_conbox>div>div:nth-of-type(3){font-size: 0.9em; font-weight: bold;}
.review_conbox>div>div:nth-of-type(4){font-size: 0.6em;}
input[type="checkbox"] {
    display:none;
}


/* 지역 검색 창 */
.regionBox {width: 500px; background-color: white; bottom: 75px;}
.regionBox>div>a {transition: all 0.5s;}
.regionBox>div>a:focus, .regionBox>div>a:hover {background-color: #FFC700;}

/* 캠프/검색 목록 */
#camplist {width: 100%; }
#camplist h3 {font-weight: bold;}
#camplist p {margin-bottom: 0!important; font-size: 0.8em;}
.camp_box {width: 100%; border-bottom: 1px solid #dee2e6; border-top: #dee2e6; margin-bottom: 1rem; border-radius: 10px 10px 0; overflow: hidden;}

/* 캠핑장 상세 */
.camp_info {height: 200px; overflow: hidden; transition: all 0.5;}

/* 캠핑장 시설 */
.campfacility ul {padding-left: 0!important;}

/* 캠핑상품목록 */
.campdetail {height: 200px; overflow: hidden; transition: height 0.3s ease-out;}
.campdetail_box {background-color: #f2f2f2;}
.campdetail_product>div:nth-of-type(1) {width: 30%;}
.campdetail_product>div:nth-of-type(2) {width: 70%;}
.detail_date span {font-size: 0.6em;}
.detail_btn a {font-size: 0.7em;}
.review_img {width: 100px; height: 100px; object-fit: cover; overflow: hidden;}
.review_box {border-radius: 15px;}
.review_box ul {padding-left: 0!important;}
.review_box ul:nth-of-type(1) p {font-size: 0.9em;}
.review_box ul:nth-of-type(2) p {font-size: 0.8em;}
.review_box p {margin-bottom: 0!important;}

.facilitytypeImg_box>img {width: 40px; height: 40px;}
.facilitytypeName_box>span{font-size: 0.8em;}

/* 캠핑 상품 상세 */
.campdetail_productBox>ul {padding-left: 0!important;}
.campdetail_basic ul {padding-left: 0!important;}
.campdetail_basic>div>ul>li:nth-of-type(1)>span {font-size: 0.7em;}
.campdetail_introduction {font-size: 0.8em;}
.reservate_btn {background-color: #FFDC70;}

/* 예약진행 */
.reservate_box {width: 100%; height: 150px;}
.reservate_box>div p {margin-bottom: 0!important;}
.reservate_box>div:nth-of-type(1) {width: 30%;}
.reservate_box>div:nth-of-type(2) {width: 70%;}
.reservation_date>input{border: none;  text-align: center;}
.checkinBox {width: 40%;}
.checkoutBox {width: 40%;}
.daycount {width: 20%;}
.daycount>input {border: none; text-align: center;}
.reservationNop_box {border: 1px solid gray; width: 110px;}
#reservationNop, .plus, .minus {padding-top: 0.625rem!important;}
.plus, .minus {background-color: #f2f2f2;}
.reservate_user_box p {margin-bottom: 0!important;}

/* 예약완료 */
.reservate_cmp {height: 200px;}
.reservateComImg {width: 40%;}
.reservateComImg>img {width: 150px; height: 150px; border-radius: 15px;}
.reservateCampName {width: 60%;}
.reservateCampName p {margin-bottom: 0!important;}
.reservecomplete_btnBox a {width: 200px;}

/* 예약현황 */
.reservation_box {background-color: #FFDF6C; border-radius: 15px 15px 0 0;}
.reservationImg {width: 40%;}
.reservationImg img {width: 150px; height: 150px; object-fit: cover; border-radius: 15px;}
.reservationTitle {width: 60%;}
.reservationTitle p {margin-bottom: 0!important;}
.reservationTitle h5 {margin-bottom: 0!important;}
.reservation_cancle {position: absolute; top: 20px; right: 20px;}
.reservation_more {position: absolute; bottom: 5px; right: 10px; font-size: 0.8em;}
.reservation_less {position: absolute; bottom: 5px; right: 10px; font-size: 0.8em;}
.reservationCon {font-size: 0.8em;}
.campproduct_home_btn {background-color: #FA9D4B; transition: all 0.5s;}
.campproduct_home_btn:hover {background-color: white; border: 1px solid #686868;}

/* .campProductImg {width: 30%;} */
/* .campProductImg img {width: 120px; height: 50px; object-fit: cover;} */
/* .campProductCon {width: 70%;} */
.campproduct_close {position: absolute; top: 5px; right: 10px;}

/* 오픈일정 */
.schdule_txt {font-size: 0.7em; color: #888888;}
.schdule_date{background-color: #f2f2f2;}
.openscheduleImg {width: 100%; height: 200px; overflow: hidden; border-radius: 15px 15px 0 0;}
.openscheduleImg>img {width: 100%; height: 200px; object-fit: cover;}
.openscheduleCon p, h5 {margin-bottom: 0!important;}
.openscheduleCon_campName>h5 {font-weight: bold;}
.openscheduleCon_campType, .openscheduleConAddress {font-size: 0.8em;}


/* 찜 */
.favorites_icon {border-radius: 50px; background-color: #f2f2f2; width: 60px;  height: 60px;}
.favorites_con {width: 80%; font-size: 0.7em;}
.favorites_con h6 {margin-bottom: 0!important;}


/* 관리자 캠핑장 목록 */
.campproductListImg {width: 30%; overflow: hidden;}
.campproductListImg>img {width: 120px; height: 120px; object-fit: cover; border-radius: 15px;}
.campproductListCon {width: 70%;}
.campproductListCon h5 {font-weight: bold;}
.campproductListCon_txt {font-size: 0.7em;}
.campproductListCon_txt p {margin-bottom: 0!important;}
.campproductListBtn_bn a {font-size: 0.7em!important;}
.campdetailImg {width: 30%;}
.campdetailImg>img {width: 100px; height: 100px; object-fit: cover; border-radius: 15px;}
.campdetailCon {width: 70%;}
.campdetailCon h6 {font-weight: bold; margin-bottom: 0!important;}
.campdetailCon span {font-size: 0.8em;}

/* 관리자 캠핑장 상품 등록 */
.campdetailProductInsertTitle h6 {font-size: 0.7em;}
.campdetailProductInsertCon textarea {height: 400px!important;}

.campdetailProductUpdateTitle h6 {font-size: 0.7em;}
.campdetailProductUpdateCon textarea {height: 400px!important;}

/* 상품 메인 */
.product_menu>div {width: 60px; height: 60px;}
.product_menu span {font-size: 0.8em;}

/* .productdetailImg {height: 200px; overflow: hidden;} */

.product_suggestion {width: 150px; height: 140px; overflow: hidden; border-radius: 15px; border: 1px solid #f2f2f2;}
.product_suggestionImg {width: 100%; height: 80px; overflow: hidden;}
.product_suggestionImg>img {width: 100%; object-fit: cover;}
.product_suggestionCon {font-size: 0.7em;}

/* 대여 상품 결제 */
.reservationListImg {width: 30%; height: auto; object-fit: cover; overflow: hidden;}
.reservationListImg>img {width: 120px; height: 120px;}
.reservationListCon {width: 70%;}

.middle_ads>div {width: 150px; height: 150px; border: 1px solid #f2f2f2; border-radius: 15px;}
.ads_boxImg {width: 20%;}
.ads_boxCon {width: 50%;}
.ads_boxPrice {width: 20%;}
.ads_boxArrow {width: 10%;}

/* 상품 카테고리 */
.category_btn {width: 100%; height: auto; overflow-x: scroll}
.category_btn a {width: 120px; font-size: 0.9em;}


/* 대여 상품 목록 */
.productListImg {height: 250px; background-color: #aaa; overflow: hidden; object-fit: cover;}
.productListImg {height: 250px;}
.productList_Con>div:nth-of-type(3)>span {font-size: 0.6em;}


/* 대여상품 상세 */
.productdetailInfo {height: 300px; overflow: hidden;}

/* 찜 */
.wishlistImg {height: 200px; overflow: hidden;}
.wishlistCon h5 {margin-bottom: 0!important;}
.wishlistCon span {font-size: 0.8em;}
.wishlistTotal {width: 500px; height: 50px; background-color: #f2f2f2; border: 1px solid #f2f2f2; bottom: 70px; z-index: 1;}
.wishlistTotal span {font-size: 0.8em; }

/* 장바구니 */
.cartImg {height: 200px; overflow: hidden; object-fit: cover;}
.cartCon h5 {margin-bottom: 0!important;}
.cartCon span {font-size: 0.8em;}
.cartTotal {width: 500px; bottom:70px; }
.delbtn {font-size: 0.8em;}

/* 회원리스트 */
.tab_btn {width: 200px; height: 50px; border: 1px solid #f2f2f2;}
.tab_btn>a {width: 100%; height: auto; display: block; padding-top: 0.8rem; padding-bottom: 0.8rem;}
.memberlist_more_box a {font-size: 0.8em;}
.memberlist_more_box span {font-size: 1.5em;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 관리자 상품 목록 */
.AdminProduct span {font-size: 0.8em;}
.AdminProductImg {height: 200px; overflow: hidden; object-fit: cover;}
.AdminProduct a {font-size: 0.8em;}


/* 드랍존 */
.dropzone {
    width: 98%;
    margin: 1%;
    border: 2px dashed #3498db !important;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .dropzone.dz-drag-hover {
    border: 2px solid #3498db !important;
  }
  
  .dz-message.needsclick img {
    width: 50px;
    display: block;
    margin: auto;
    opacity: .6;
    margin-bottom: 15px;
  }
  
  span.plus {
    display: none;
  }
  
  .dropzone.dz-started .dz-message {
    display: inline-block !important;
    width: 120px;
    float: right;
    border: 1px solid rgba(238, 238, 238, 0.36);
    border-radius: 30px;
    height: 120px;
    margin: 16px;
    -webkit-transition: .2s;
    transition: .2s;
  }
  
  .dropzone.dz-started .dz-message span.text {
    display: none;
  }
  
  .dropzone.dz-started .dz-message span.plus {
    display: block;
    font-size: 70px;
    color: #AAA;
    line-height: 110px;
  }

/* Firefox */
.minus input[type=number], .plus input[type=number] {
  -moz-appearance: textfield;
}

input[type="checkbox"] + label {
    color:black;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 0 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -19px top no-repeat;
}


/* 상품등록 */
input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
    color:black;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(../img/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(../img/check_radio_sheet.png) -57px top no-repeat;
}

.campadd_box>div { width: 100%; height: 150px; border: 1px solid #f2f2f2;}

.none {display: none;}
.active {display: block;}
.font08em {font-size: 0.8em;}
.fontbold {font-weight: bold;}



/* Board Page */
.boardd {border-top : 1px solid #444444; border-bottom : 1px solid #444444; }
.tdd {border-bottom : 1px solid #444444; padding: 8px 6px;}
.theadd {font-weight: bold; border-bottom : 1px solid #444444;}
.hoverr:hover { background-color: #FFDF6C;}
